.create-post-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .catagories h3 {
    color: black;
  }
  
  .create-post-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .create-post-container input[type="text"],
  .create-post-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .create-post-container textarea {
    height: 100px;
    resize: vertical;
  }
  
  .create-post-container .categories {
    margin-bottom: 10px;
  }
  
  .create-post-container .categories label {
    margin-right: 10px;
    font-size: 14px;
  }
  
  .create-post-container button {
    padding: 10px 20px;
    background-color: #4267B2;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .create-post-container button:hover {
    background-color: #365899;
  }

  .create-post-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }